build/
.lock-wscript
gphoto2.node
v8.log
node_modules/
.DS_Store
npm-debug.log
.idea
yarn-error.log
.npmrc
cmake-build-debug
CMakeCache.txt
cmake_install.cmake
node
node_gphoto2.cbp
Makefile
CMakeFiles
temp
